@model WebToiec.Models.Model_BaiTap
@{
    ViewBag.Title = "BaiTapBG_Part_12";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

<section id="about-us">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <p class="lead mb40">Câu: @Model.ID_CauHoi</p>
                    @if (Model.Part == 1)
                    {
                        <p class="lead mb40">
                            <img src="~/assets/images/blog-1.jpeg" alt="Image" class="img-responsive smoothie">
                        </p>
                    }
                    <p class="lead mb40">

                        <audio controls>
                            <source src="~/Resource/Voice/AMV – Make It Rock .mp3" type="audio/mpeg">
                        </audio>
                    </p>
                    <p class="lead mb40 btn btn-default">A</p>
                    <p class="lead mb40 btn btn-default">B</p>
                    <p class="lead mb40 btn btn-default">C</p>
                    <p class="lead mb40 btn btn-default" id="DapAn">D</p>
                    <button onclick="noiDung()" class="lead mb40 btn btn-info">Text</button>
                    <p id="text_noiDung" style="display:none"></p>
                    <br />
                    @if (Model.ID_CauHoi == 1)
                    {
                        @Html.ActionLink("Next", "BaiTapBG_Part_12", "Course", new { id = Model.ID_CauHoi + 1 }, new { @class = "btn btn-primary btn-green" })
                    }
                    else
                    {
                        if (Model.ID_CauHoi == ViewBag.count)
                        {
                            @Html.ActionLink("Back", "BaiTapBG_Part_12", "Course", new { id = Model.ID_CauHoi - 1 }, new { @class = "btn btn-primary btn-green" })
                            <p class="mb20">
                                @Html.ActionLink("Go On Topic", "GetListChuDe", "Course", new { @class = "btn btn-primary btn-primary", onclick = "return confirm('Bạn Đã Hoàn Thành Chủ Đề');" })
                            </p>
                        }
                        else
                        {
                            @Html.ActionLink("Back", "BaiTapBG_Part_12", "Course", new { id = Model.ID_CauHoi - 1 }, new { @class = "btn btn-primary btn-green" })
                            @Html.ActionLink("Next", "BaiTapBG_Part_12", "Course", new { id = Model.ID_CauHoi + 1 }, new { @class = "btn btn-primary btn-green" })
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        function noiDung() {
            document.getElementById("text_noiDung").innerHTML = @Model.TEXT;
        }
    </script>
}