@model IEnumerable<DAL.EF.KHOAHOC>

@{
    ViewBag.Title = "Showdata";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>s</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_KH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.THOI_GIAN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GIA_TIEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEN_KH)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_KH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.THOI_GIAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GIA_TIEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEN_KH)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
