@model WebToiec.Models.Model_TuVung

<div>
    <h4>Model_TuVung</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_TuVung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_TuVung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tu_Vung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tu_Vung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MA_CHU_DE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MA_CHU_DE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGHIA_CUA_TU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGHIA_CUA_TU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHAT_AM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHAT_AM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHIEN_AM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHIEN_AM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VI_DU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VI_DU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HIN_HANH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HIN_HANH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TheLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheLoai)
        </dd>

    </dl>
</div>

