@model DAL.EF.KHOAHOC

@{
    ViewBag.Title = "Edit_KhoaHoc";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<script src="~/Scripts/ckeditor/ckeditor.js"></script>

@using (Html.BeginForm("Edit_KhoaHoc", "Home", FormMethod.Post,new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="card">
    <div class="card-body">
        <h2>Cập Nhật Khóa Học</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.ID_KH)
        <hr />
        <div class="form-group">
            Tên Khóa Học
            <div class="col-md-10">
                @Html.EditorFor(model => model.TEN_KH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TEN_KH, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            Thời Gian
            <div class="col-md-10">
                @Html.EditorFor(model => model.THOI_GIAN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.THOI_GIAN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Giá Tiền
            <div class="col-md-10">
                @Html.EditorFor(model => model.GIA_TIEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GIA_TIEN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Giới Thiệu Khóa Học
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.GIOI_THIEU, new { @class = "form-control", @rows = "10", @cols = "50", @id = "txt_vidu", @name = "txt_vidu" })
                <script>CKEDITOR.replace('txt_vidu', { htmlEncodeOutput: true });</script>
                @Html.ValidationMessageFor(model => model.GIOI_THIEU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Video Giới Thiệu
            <div class="col-md-10">
                <input type="file" name="upVideo" id="upVideo" />
            </div>
        </div>

        <div class="form-group">
            Loại Khóa Học
            <div class="col-md-10">
                @Html.EditorFor(model => model.LOAI_KH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LOAI_KH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
                <a href="@Url.Action("KhoaHoc","Home")" class="btn btn-danger">Back To List</a>
            </div>
        </div>
    </div>
    </div>
    }